doctype html
html
  head
    meta(charset='utf-8')

    title #{name} — Сотрудник компании
    link(rel='stylesheet', href='vendor/normalize-css/normalize.css')
    link(rel='stylesheet', href='css/style.css')

  body

    header.header
      h1.header__name= name

    main.content
      h3.caption Достижения сотрудника

      ul.achievs

        each badge, index in badges
          li.achiev

            .badge.badge--with-number(class=badge.color ? "badge--#{badge.color}" : "")
              .badge__content
              .badge__number= index + 1

            h4.achiev__title= badge.title